:root{
  --letra: Montserrat;
}

*{
  box-sizing: border-box;
}

.container {
  /* width: 1280px; */
  padding: 16px;
  margin: 0 auto;
}

header {
  background-color: #fff;
  display: flex;
  flex: 1;
  position:fixed;
  top: 0;
  margin-bottom: 32px;
  border-bottom: 1px solid #212429;
  width: 100%;
  z-index: 1;
  width: 100%;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--letra);
  font-size: 16px;
  color: #212429;
  background-color: white;
  margin-left:5% ;/
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items:center;
}

.imghead{
  display: flex;
}

.containermoda{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-size: 16px;
}

.iconheader {
  display: flex;
  justify-content: space-between;
}

.iconheader img {
  margin-right: 24px;
}
.iconheader img:last-child {
  margin-right: 0
}
main{

  justify-content: center;
  flex: 1;
  position: relative;
  top:32px;
  width: 100%;
}

.newcolections{
  display: flex;
  margin-left: 5%;
  margin-top: 100px;
}

.letternewcolections {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
}

.letternewcolections::first-letter {
  font-size: 40px;
}

.gridcontent {
  display: grid;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 0.5rem;
  padding: 16px;
  font-family: var(--letra);
  margin-top: 5%;
  }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card:hover {
  background-color: pink;
}

.imgcard {
  border-radius: 8px;
  display: flex;
  flex: 1;
  max-height: 200px;
}

.textcard {
 display: flex;
 justify-content: space-around;
 font-size: 14px;
 width: 100%;
}

.price{
  font-size: 14px;
  font-weight: bold;
}

footer{
  display: flex;
  flex: 1;
  background-color: #212429;
  margin-top: 32px;
  position: relative;
  width: 100%;
}

.foot {
  display: flex;
  flex: 1;
  gap:20px;
  justify-content: space-between;
  font-family: var(--letra);
  font-size: 16px;
  color: #fff;
  height: auto;
  padding: 32px;
  width: 100%;
}

.imgfoot{
  display: flex;
}

.circle{
  display: flex;
  margin-right: 16px;
  background-color: #fff;
  border-radius:50px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 920px) {
  .header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: var(--letra);
      font-size: 16px;
      margin-left: 5%;/
    }

  ul{
    list-style: none;
    display: none;
    }
  .containermoda{
     display: flex;
    flex-direction: column;
    }

  .foot{
    display: flex;
    flex-direction: column;
  }
  .imgfoot{
    border-bottom: 1px #fff solid;
    padding: 8px;
  }
}